# Expo
.expo/
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/
.idea/
*.DS_Store
*.jks
*.p12
*.key
*.mobileprovision

# Environment variables
.env
.env.*

# Web
.next/
out/

# Jest
coverage/

# Metro bundler cache
.metro-cache/

# EAS
eas-build-pre-upload.tar.gz
